
.hero-section{
    background-image: url("../../assets/images/heroBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1063px;
}

.fontt{
    font-family: "Fraunces", sans-serif;
}