.getready-section{
    background-image: url("../../assets/images/getReadyBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 503px;
}